body {background-color: dimgray}

div.container {
    width: 80%;
    height: 100%;
    border: 0px;
    border-radius: 15px;
    background: #96bcff;;
    padding: 50px;
    margin: auto;
}

div.content {
    height: 500px;
    width: 100%;
}

div.button-group {
    height: 100%
}

footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: top;
    height: 50px;
    margin-bottom: 40px;
    padding: 0px;
    background-color: #303c52;

}

input[type=submit] {
    padding:5px 15px;
    height: 50px;
    background: #303c52;
    border: solid 1px #96bcff;
    cursor:pointer;
    border-radius: 5px;
    color: #f2f2f2;
}

input[type=text] {
  border: 1px dotted #999;
  border-radius: 20;
    height: 60px;
  -webkit-appearance: none;
}

select {
    width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;}

#button {
    width: 300px;
    height: 200px
}

#list {
    width: 100px;
    float: left;
}
#back {
    width: 100px;
    float: right;
}

table{
    width: 100%
}

thead, tbody { display: inline-block;
width: auto}

tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

th {
    background-color: #303c52;
    color: white;}

tr{
    height: 50px;
    vertical-align: middle;
    text-align: center;
    background-color: #fefefe;
    }

tr:hover {background-color: #cccccc}
tr:nth-child(even) {background-color: #f2f2f2}