<!DOCTYPE html>
<html>
<head>
<title> User story manager </title>
</head>
<body>

    <form action="demo_form.asp">
      First name:<br> <input type="text" name="First name"><br>

      Last name:<br> <input type="text" name="Last name"> </textarea><br>

      Email: <br><input type="text" name="Email"><br>

      City: <br> <input type="text" name="City" min="100" max="1500" step="100" ><br>

    </select>
    </form>

  <button id="save" type="submit">Create Applicant</button>

</body>
</html>
