<!DOCTYPE html>
<html>
<head>
    <title> User story manager </title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="datainput">

    <form action="/confirm_page" method="post">
      First name:<br> <input type="text" name="first_name" class="textinput"><br>

     Last name:<br> <input type="text" name="last_name" class="textinput"><br>

     Email: <br><input type="text" name="email" class="textinput"><br>

     City: <br> <input type="text" name="city" class="textinput"><br>

     <input type="submit" value="Submit" class="button">

   </form>
</div>


</body>
</html>