<!DOCTYPE html>
<html>
<head>
<title> Confirmation </title>
</head>
<body>

</head>
  <body>
   <form action="/confirm_page" method="post">
     <b>Dear {{new_applicant['first_name']}} {{new_applicant['last_name']}}!</b>
     <p>Congratulations! Your application has been confirmed.</p>
     <p>We are going to inform you about your result in e-mail.</p>
     <p>We've got {{new_applicant['email']}} as your address in our database, inform us if it's not correct!</p>
     <p>Your hometown is {{new_applicant['city']}}</p>
     <b>Your application code is {{new_applicant['code']}}.</b>
  </form>


</body>
</html>
