<!DOCTYPE html>
  <html>
  <head>
      <title> New school system </title>
      <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>

  <nav>
      <div class="button-group">
      <FORM METHOD="LINK" ACTION="/apply" target="_blank">
          <input type="image" src="{{ url_for('static', filename='pictures/registration.png') }}" border="0" alt="Submit" style= "float: right"/>
        </FORM>

      <FORM METHOD="LINK" ACTION="/list_menu" target="_blank">
            <input type="image" src="{{ url_for('static', filename='pictures/login.png') }}" border="0" alt="Submit" style= "float: right"/>
        </FORM>

      <FORM METHOD="LINK" ACTION="/" target="_blank">
        <input type="image" src="{{ url_for('static', filename='pictures/home.png') }}" border="0" alt="Submit" style= "float: left"/>
      </FORM>
      </div>
  </nav>

  <div class="container-head">

  </div>
  <div class="container-body">

      <header>

      <div class="welcome-image">
          <img src="{{ url_for('static', filename='pictures/codecool_welcome.jpg') }}"
          alt="Welcome" style="width:700px;height:320px;">
      </div>

      </header>

    <div class="welcome-text">
      <div class="intro-text">


      <h1>TE IS LEHETSZ PROGRAMOZÓ!</h1>

      <p>A Codecool egy 18 hónapos, gyakorlatorientált képzés, aminek a végére garantáljuk, hogy állást is találunk neked.</p>
      <p>És nem csak azért, mert 20.000 programozó hiányzik a hazai piacról – nálunk tényleg a cégek számára is értékes,</p>
      <p>munkakész fejlesztőként fogsz felállni az iskolapadból. A tandíjat pedig ráérsz majd az első fizetéseidből törleszteni.</p>
      <p>A Codecool egy nem hagyományos programozóképzés kezdőknek, a piac igényeire szabva. </p>
      <p>Bár biztosítjuk a megfelelő elméleti hátteret, az oktatás erősen gyakorlatorientált, </p>
      <p>csak az „életben” is hasznos tudásra koncentrálunk. Nálunk valódi, céges környezethez </p>
      <p>hasonló csapatmunka során sajátíthatsz el egy olyan programozói szemléletmódot, ami az </p>
      <p>egész karrieredet megalapozza. Mindezt  modern környezetben és eszközökkel, jó hangulatban, </p>
      <p>tapasztalt mentorok által vezetett, válogatott csapatban. A képzés végére azonnal és könnyen </p>
      <p>alkalmazható junior programozó leszel, aki egy fejlesztőcég életének bármelyik részébe könnyen bekapcsolódik.</p>
      <p>És még segítünk is megtalálni az első munkahelyedet.</p>
      </div>
    </div>

  </div>
  </body>
  </html>
