<!DOCTYPE html>
  <html>
  <head>
      <title> New school system </title>
      <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>

  <nav>
      <div class="button-group">
        <a href="/apply" style=" float: right" class="button">Apply</a>
        <a href="/applicant/login" style=" float: right" class="button">Log in</a>
        <a href="/" style=" float: left" class="button">Home</a>
    </div>
  </nav>

  <div class="container-head">

  </div>
  <div class="container-body">

      <header>

      <div class="welcome-image">
          <img src="{{ url_for('static', filename='pictures/codecool_welcome.jpg') }}"
          alt="Welcome" style="width:700px;height:320px;">
      </div>

      </header>




          <h1>TE IS LEHETSZ PROGRAMOZÓ!</h1>

          <p>A Codecool egy 18 hónapos, gyakorlatorientált képzés, aminek a végére garantáljuk, hogy állást is találunk neked.
              És nem csak azért, mert 20.000 programozó hiányzik a hazai piacról – nálunk tényleg a cégek számára is értékes,
          munkakész fejlesztőként fogsz felállni az iskolapadból. A tandíjat pedig ráérsz majd az első fizetéseidből törleszteni.</p>
          <p>A Codecool egy nem hagyományos programozóképzés kezdőknek, a piac igényeire szabva.
          Bár biztosítjuk a megfelelő elméleti hátteret, az oktatás erősen gyakorlatorientált,
          csak az „életben” is hasznos tudásra koncentrálunk. Nálunk valódi, céges környezethez
          hasonló csapatmunka során sajátíthatsz el egy olyan programozói szemléletmódot, ami az
          egész karrieredet megalapozza. Mindezt  modern környezetben és eszközökkel, jó hangulatban,
          tapasztalt mentorok által vezetett, válogatott csapatban.</p><p> A képzés végére azonnal és könnyen
          alkalmazható junior programozó leszel, aki egy fejlesztőcég életének bármelyik részébe könnyen bekapcsolódik.
          És még segítünk is megtalálni az első munkahelyedet.</p>


  </div>
  </body>
  </html>
