<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint Reporter</title>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>

      <div class="datainput">
          <form action="" method="post">

              </p><input type=text placeholder="Email"class="textinput" name=email>
              </p><input placeholder="Application code" class="textinput" type=password name=application_code>
                      <p><input type="radio" name="user"  value="applicant" id="applicant" checked> Sign in as an applicant</p>
                      <p><input type="radio" name="user"  value="mentor" id="mentor"> Sign in as a mentor</p>
                      <p><input type=submit class="button" value=Login></p>
                  </form>

        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/toggle.js"></script>
        </div>
 </body>
