<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint Reporter</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/main.css">
  </head>

  <body>
      <FORM METHOD="LINK" ACTION="LINK TO WEBSITE" target="_blank">
          <input type="submit" value="Apply to Codecool">
      </FORM>
      <FORM METHOD="LINK" ACTION="LINK TO A DIFFERENT WEBSITE" target="_blank">
          <input type="submit" value="List all applicants">
      </FORM>
 </body>
