<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List apllicants</title>
</head>
<body>
<h1>These are our applicants:</h1>

<table >
      <caption><h2>Our appicants</h2></caption>
      <thead>
        <th>First name</th>
        <th>Last name</th>
        <th>email</th>
        <th>city</th>
        <th>application_code</th>
        <th>status</th>
        <th>school</th>
      </thead>

      <tbody>
        {% for line in query %}
                <tr>
                  <td>{{line['first_name']}}</td>
                  <td>{{line['last_name']}}</td>
                    <td>{{line['email']}}</td>
                    <td>{{line['city']}}</td>
                    <td>{{line['application_code']}}</td>
                    <td>{{line['status']}}</td>
                    <td>{{line['School.city']}}</td>
                  <td></td>
                </tr>
        {% endfor %}
    </tbody>
    </table>
</body>
</html>